<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Talk To Talk_chat</title>
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link href="/css/material-kit.css?v=2.0.7" rel="stylesheet" />
<link href="/css/zzin.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<style>
.bio-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}
.bio-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.bio-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}
.bio-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #5a99ee;
}
</style>
</head>

<body style="background: linear-gradient(55deg, RGB(107,115,178), RGB(160,177,221), RGB(242,132,227)) fixed;">
  <nav class="navbar fixed-top navbar-expand-sm navbar-transparent">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
	  <a href="/"><img src="/images/logo/logo.png" alt="Circle Image" style="width:90px;"></a>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="javascript:;" class="profile-photo nav-link" data-toggle="dropdown">
	            <div class="profile-photo-small" sec:authorize="isAuthenticated()">
	               <img id="circleimg" style="width:40px;height:40px;border-radius: 100%;object-fit: cover;" alt="Circle Image" class="rounded-circle img-fluid">
	            </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">💛Talk To Talk💜</h6>
              <a href="javascript:;" class="mypage dropdown-item">💁 mypage</a>
              <a href="/chat" class="dropdown-item">💬 chat</a>
              <a href="/logout" class="dropdown-item">👋 logout</a>
            </div>
            <a href="javascript:;" class="profile-photo nav-link" th:href="@{/account/regist}" sec:authorize="!isAuthenticated()">
              <i class="fa fa-user-plus"></i>
            </a>
          </li>
          <li class="nav-item" style="margin-left:10px;margin-right:10px;" sec:authorize="isAuthenticated()">
            <a href="javascript:;" th:href="@{/mypage}">
              <span id='nickname' class='mypage' th:text="${session.nickname}" style="color:black;">사용자</span>
              <span id='username' th:text="${session.username}" style="display:none;">사용자</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:;" class="profile-photo nav-link" th:href="@{/account/login}" sec:authorize="!isAuthenticated()">
              <div class="profile-photo-small">
                <img id="offcolor" src="/images/logo/off.png" alt="Circle Image" class="img-fluid">
              </div>
            </a>
            <a href="javascript:;" class="profile-photo nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">
              <div class="profile-photo-small">
                <img id="oncolor" src="/images/logo/on.png" alt="Circle Image" class="img-fluid">
              </div>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>
	<div class="space-50"></div>
		<input class="hidden" id="hey" value="${user.username}">
			<div id="room-page">
				<div class="chat-container">
					<div class="chat-header form-inline text-center">
						<h1>Room List</h1>
						<button id="refrestbtn" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
							<i class="material-icons">refresh</i>
						</button>
						<button id="createRoomButton" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
		                   	<i class="material-icons">add</i>
						</button>
					</div>
					<div class="room-page-bar">
						<div class="room-page-bar-no">방번호</div>
						<div class="room-page-bar-title">방제목</div>
						<div class="room-page-bar-people">현재인원/최대인원</div>
						<div class="room-page-bar-type">방종류</div>
					</div>
					<ul id="listRoom" class="list-group">

					</ul>
	                <form action="/chat/search" id="searchForm" class="form-inline ml-auto col-md-12" method="get">
	                  <div class="form-group">
	                    <input type="text" id="search" name="search" class="form-control" placeholder="Search" autocomplete="off">
	                  </div>
	                  <button id="searchbtn" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
	                    <i class="material-icons">search</i>
	                  </button>
	                </form>
				</div>
			</div>
			<div id="roommk-page" class="hidden">
				<div class="chat-container">
					<div class="chat-header">
						<h1 style="text-align:center;">채팅방 개설
	                  <button id="roommkoutButton" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
	                    <i class="material-icons">clear</i>
	                  </button></h1>
					</div><br><br><br>
					<div>
						<div class="col-sm">
							<div class="form-field">
								<div><b>방&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp제:</b>
									<input class="popup-button-input" id="createRoomName" type="text" placeholder="방제를 입력하세요" />
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-field">
									<div><b>최대인원:</b>
										<select class="popup-button-input" id="maxpp" name="maxpp">
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4" selected="selected">4</option>
											<option value="6">6</option>
											<option value="10">10</option>
										</select>
									</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-field">
								<div><b>hashtag:</b>
									<input class="popup-button-input" id="createRoomhash" type="text" placeholder="#을 기준으로 생성됩니다." />
								</div>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-field">
				              <div class="togglebutton">
				                <label>
				                  <input type="checkbox" id="createRoomType">
				                  <span class="toggle"></span>
				                  Video Call
				                </label>
				              </div>
							</div>
						</div><br>
						<div class="popup-button">
							<form id="createRoomForm" name="createRoomForm">
								<div class="form-group">
									<div class="input-group clearfix">
										<button type="submit" class="popup-button-bt" id="createRoom">방 개설</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
										<button class="popup-button-bt" type="submit">나가기</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div id="chat-page" class="hidden">
				<div class="chat-container">
					<div class="chat-header">
						<h2>채팅방 [<span id="room-id-display"></span>]
	                  <button id="chatoutButton" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
	                    <i class="material-icons">clear</i>
	                  </button></h2>
					</div>
					<h2 class="noticeArea" id="noticeArea" name="noticeArea" th:text="${session.notice}">공지사항</h2>
					<div class="connecting">연결중...</div>
					<ul id="messageArea">

					</ul>
					<form id="messageForm" name="messageForm" nameForm="messageForm">
						<div class="form-group">
							<div class="row">
					            <div class="col-lg-8 col-sm-4">
					              <div class="form-inline form-group row">
									  <input type="text" id="message" placeholder="/leave -방을 떠나기   /notice -공지 남기기 "
											autocomplete="off" class="form-control"/>
					                  <button type="submit" class="btn btn-white btn-raised btn-fab btn-round">
					                    <i class="material-icons">send</i>
					                  </button>
					                  <button id="EmojiButton" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
					                    <i class="material-icons">insert_emoticon</i>
					                  </button>
					               </div>
								</div>
							</div>
							<div id="EmojiBox" class="hidden">
								<div type="button" class="modal_close" for="open-pop"></div>
								<h2> 이모티콘 </h2>
								<button class="Emoji" value="ahaha" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/ahaha.png" style="width:50%;"></button>
								<button class="Emoji" value="cheers" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/cheers.png" style="width:50%;"></button>
								<button class="Emoji" value="crying" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/crying.png" style="width:50%;"></button>
								<button class="Emoji" value="curious" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/curious.png" style="width:50%;"></button>
								<button class="Emoji" value="cute" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/cute.png" style="width:50%;"></button>
								<button class="Emoji" value="dance" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/dance.png" style="width:50%;"></button>
								<button class="Emoji" value="despair" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/despair.png" style="width:50%;"></button>
								<button class="Emoji" value="fart" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/fart.png" style="width:50%;"></button>
								<button class="Emoji" value="full" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/full.png" style="width:50%;"></button>
								<button class="Emoji" value="glance" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/glance.png" style="width:50%;"></button>
								<button class="Emoji" value="gross" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/gross.png" style="width:50%;"></button>
								<button class="Emoji" value="guard" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/guard.png" style="width:50%;"></button>
								<button class="Emoji" value="knockdown" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/knockdown.png" style="width:50%;"></button>
								<button class="Emoji" value="lookingforward" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/lookingforward.png" style="width:50%;"></button>
								<button class="Emoji" value="love" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/love.png" style="width:50%;"></button>
								<button class="Emoji" value="mad" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/mad.png" style="width:50%;"></button>
								<button class="Emoji" value="mask" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/mask.png" style="width:50%;"></button>
								<button class="Emoji" value="mermaid" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/mermaid.png" style="width:50%;"></button>
								<button class="Emoji" value="normal" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/normal.png" style="width:50%;"></button>
								<button class="Emoji" value="omg" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/omg.png" style="width:50%;"></button>
								<button class="Emoji" value="shining" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/shining.png" style="width:50%;"></button>
								<button class="Emoji" value="sleeping" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/sleeping.png" style="width:50%;"></button>
								<button class="Emoji" value="smile" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/smile.png" style="width:50%;"></button>
								<button class="Emoji" value="sneak" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/sneak.png" style="width:50%;"></button>
								<button class="Emoji" value="sullen" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/sullen.png" style="width:50%;"></button>
								<button class="Emoji" value="swag" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/swag.png" style="width:50%;"></button>
								<button class="Emoji" value="thumb" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/thumb.png" style="width:50%;"></button>
								<button class="Emoji" value="touchhorn" style="padding:0;margin:0;height:20%;background:white;"><img src="/images/emoji/touchhorn.png" style="width:50%;"></button>
								<button class="Emoji" value="vomit" style="padding:0;margin:0;height:20%;background:white;background:white;"><img src="/images/emoji/vomit.png" style="width:50%;"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div id="info-page" class="hidden">
				<div class="chat-container text-center" style="display:flex;flex-direction:column;align-content:space-around;">
						<div class="chat-header">
							<h1>I'm <span id="userinfo_nickname" style="font-weight:bold;">error</span> 😉.
							<button id="profileoutButton" type="submit" class="btn btn-white btn-raised btn-fab btn-round">
								<i class="material-icons">reply</i>
							</button></h1>
						</div>
				        <div class="profile-content"><br>
					        <div style="overflow:hidden;display:flex;align-items:center;
							justify-content:center;width:100%;height:300px;">
								<img width="300px" class="userinfo_pic" id="userinfo_pic"
								style="border: 1px solid #ddd;border-radius: 4px;padding: 5px;border-radius:10px 30px 50px 80px;" src=>
							</div><br>
				            <div class="bio-message">
				            	<h2>👄<span id="userinfo_bio">bio</span>👄</h2>
				            </div><br><br>
				            <div class="row">
				                <div class="col-xs-4">
				                    <div style="color: #777;">
				                        <h2>🌈 gender 🌈</h2>
										<h3 id="userinfo_sex">gender</h3>
				                	</div>
				                </div>
				                <div class="col-xs-4">
				                    <div style="color: #777;">
				                        <h2>🏠 city 🏠</h2>
										<h3 id="userinfo_city">city</h3>
				                	</div>
				                </div>
				                <div class="col-xs-4">
				                    <div style="color: #777;">
				                        <h2>🍰 birthday 🍰</h2>
										<h3 id="userinfo_birthday">birthday</h3>
				                	</div>
				            	</div>
							</div>
				    	</div>
			</div>
	</div>
	
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
	<script>
    $(document).ready(function() {
		$.ajax({
		    type: "POST",
		    url: "/homegetinfo",
		    data: {
		    	username: document.getElementById('username').innerText,
		    	nickname: document.getElementById('nickname').innerText
		    },
		    success: function (data) {	
				$("#circleimg").attr("src",data.pic);
		    },
			error : function(err) {
				alert("homegetinfo실패");
			}
		})
    });
	 $('.mypage').click(function () {
			$.ajax({
			    type: "GET",
			    url: "/mypaging",
			    data: {
			    	username: document.getElementById('username').innerText,
			    	nickname: document.getElementById('nickname').innerText
			    },
			    success: function (data) {	
			    	location.href='/mypage';
			    }
			})
		});
	</script>
</body>
</html>