<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Talk To Talk</title>
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">  <!-- CSS Files -->
<link href="/css/material-kit.css?v=2.0.7" rel="stylesheet" />
<link rel="shortcut icon" href="/images/logo/logo.ico">
<style>
.landing-page .carousel-inner>.item>a>img, .landing-page .carousel-inner>.item>img{
	display: block;
	margin: 0 auto;
	height: auto;
	border-radius: 10px;
	width: 100%
}
.landing-page .carousel.fade {
	opacity: 1
}
.landing-page .carousel.fade .item {
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	left: 0 !important;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block !important;
	z-index: 1
}
.landing-page .carousel.fade .item:first-child {
	top: auto;
	position: relative
}
.landing-page .carousel.fade .item.active {
	opacity: 1;
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	z-index: 2
}
.landing-page .section-testimonial {
	position: relative;
	width: 100%;
	min-height: 450px
}
.landing-page .section-testimonial .carousel {
	margin-top: 50px
}
.landing-page .section-testimonial .carousel-inner .item .mask {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #ddd;
	overflow: hidden;
	display: block;
	margin: 0 auto
}
.landing-page .section-testimonial .carousel-inner .item img {
	width: 100%;
	height: auto;
	display: block
}
.landing-page .section-testimonial .carousel-inner .item .carousel-testimonial-caption
	{
	text-align: center;
	max-width: 700px;
	margin: 0 auto
}
.landing-page .section-testimonial .carousel-inner h3 {
	font-weight: 300;
	font-size: 30px;
	line-height: 46px
}
.landing-page .section-testimonial .carousel-inner p {
	margin-top: 10px;
	color: #9a9a9a
}
.landing-page .carousel.fade {
	opacity: 1
}
.landing-page .carousel.fade .item {
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	left: 0 !important;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block !important;
	z-index: 1
}
.landing-page .carousel.fade .item:first-child {
	top: auto;
	position: relative
}
.landing-page .carousel.fade .item.active {
	opacity: 1;
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	z-index: 2
}
@media ( max-width :767px) {
	.landing-page .wrapper {
		text-align: center
	}
	.landing-page .carousel {
		min-height: 210px
	}
}
#TopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: 0;
	background-color: RGB(71, 81, 163);
	color: #fff;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px
}
#TopBtn:hover {
	background-color: RGB(193, 142, 141)
}
input[type=radio]:checked+label>img {
	background: linear-gradient(45deg, purple, RGB(27, 48, 79));
	border-radius: 50%
}
</style>
</head>

<body class="index-page sidebar-collapse">
<button onclick="topFunction()" id="TopBtn" title="Go to top">☝</button>
  <nav class="navbar fixed-top navbar-expand-sm navbar-transparent">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
	  <a href="/"><img src="/images/logo/logo.png" alt="Circle Image" style="width:90px;"></a>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="javascript:;" class="profile-photo nav-link" data-toggle="dropdown">
	            <div class="profile-photo-small" sec:authorize="isAuthenticated()">
	               <img id="circleimg" style="width:40px;height:40px;border-radius: 100%;object-fit: cover;" alt="Circle Image" class="rounded-circle img-fluid">
	            </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">💛Talk To Talk💜</h6>
              <a href="javascript:;" class="mypage dropdown-item">💁 mypage</a>
              <a href="/chat" class="dropdown-item">💬 chat</a>
              <a href="/logout" class="dropdown-item">👋 logout</a>
            </div>
            <a href="javascript:;" class="profile-photo nav-link" th:href="@{/account/regist}" sec:authorize="!isAuthenticated()">
              <i class="fa fa-user-plus"></i>
            </a>
          </li>
          <li class="nav-item" style="margin-left:10px;margin-right:10px;" sec:authorize="isAuthenticated()">
            <a href="javascript:;" th:href="@{/mypage}">
              <span id='nickname' class='mypage' th:text="${session.nickname}" style="color:black;">사용자</span>
              <span id='username' th:text="${session.username}" style="display:none;">사용자</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="javascript:;" class="profile-photo nav-link" th:href="@{/account/login}" sec:authorize="!isAuthenticated()">
              <div class="profile-photo-small">
                <img id="offcolor" src="/images/logo/off.png" alt="Circle Image" class="img-fluid">
              </div>
            </a>
            <a href="javascript:;" class="profile-photo nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">
              <div class="profile-photo-small">
                <img id="oncolor" src="/images/logo/on.png" alt="Circle Image" class="img-fluid">
              </div>
            </a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
  </nav>

  <div class="page-header header-filter clear-filter" data-parallax="true" style="background-image: url('/images/vllo.gif');">
    <div class="container">
       <div class="col-md-8 ml-auto mr-auto">
         <div class="brand">
<br><br><br><br><br><br>
           <a href="/chat" style="color:white;"><h2>💙💛💗Make Friends here!💗💛💙</h2></a>
         </div>
       </div>
    </div>
  </div>
  
  <div class="main main-raised">
    <div class="section section-basic">
    
	<!-- What people think -->
    <div class="landing-page">
        <div class="wrapper">
            <div class="section section-testimonial">
                <div class="container">
                    <h1 class="text-center" style="font-size:4em;">What people think 🙄💭</h1>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                        	<th:block th:each="file:${files}">
                            <div class="item">
                                <div class="mask">
                                    <img th:src="${file.fileurl}+${file.filename}" style="width:100%;height:100%;border-radius: 100%;display: inline-block;vertical-align: middle;object-fit: cover;">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p th:text="${file.nickname}">Jay Z, Producer</p>
                                    	❝ <span style="font-size:2em;" th:text="${file.message}">"It's truly amazing and looks awesome!"</span> ❞
                                </div>
                            </div>
   							</th:block>
   						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- end What people think -->
    
	<!-- sign in,registration -->
    <div class="section section-signup page-header" style="background:linear-gradient(to bottom,white,RGB(83,112,137),RGB(72,56,93),RGB(18,28,53));">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 mx-auto">
					<div class="card card-login">
						<form th:action="@{/loginProcess}" method="post" class="form">
							<div class="card-header card-header-primary text-center">
								<h4 class="card-title">Please Sign In</h4>
								<div class="social-line">
									<a href="javascript:;" class="btn btn-just-icon btn-link">
										<i class="fa fa-facebook-square"></i>
									</a> <a href="javascript:;" class="btn btn-just-icon btn-link">
										<i class="fa fa-twitter"></i>
									</a> <a href="javascript:;" class="btn btn-just-icon btn-link">
										<i class="fa fa-google-plus"></i>
									</a>
								</div>
							</div>
							<p class="description text-center">Welcome ✋</p>
							<div th:if="${param.error}" class="alert alert-danger" role="alert">
								Please Check Your Id and Password Again</div>
							<div th:if="${param.logout}">You've been logged out.</div>
							<div class="card-body">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i
											class="material-icons">face</i>
										</span>
									</div>
									<input type="text" id="username" name="username" class="form-control" placeholder="Id" required>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i
											class="material-icons">lock_outline</i>
										</span>
									</div>
									<input id="inputPassword" name="password" type="password" class="form-control" placeholder="Password" autocomplete="" required>
								</div>
							</div><br>
							<div class="footer text-center">
								<button class="btn btn-primary btn-link btn-wd btn-lg" type="submit">Sign In</button>
							</div>
						</form>
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
					</div>
				</div>
				<div class="col-lg-4 col-md-6 mx-auto">
					<div class="card card-login">
						<form th:action="@{/account/regist}" method="post" enctype="multipart/form-data" accept-charset="UTF-8" class="form form-horizontal">
							<div class="card-header card-header-primary text-center">
								<h4 class="card-title">Registration</h4>
							</div>
							<div class="card-body" style="height:600px;overflow-y:auto">
								<div class="input-group">
									<img id="pview" style="display:block; margin:auto; width:100px; height:100px;
									object-fit: cover;" class="rounded-circle img-fluid"/>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">camera_alt</i>
										</span>
									</div>
									<input type="file" class="form-control" name="files" id="imgInput"/>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">face</i>
										</span>
									</div>
									<input type="text" id="username" name="username" class="form-control" placeholder="Id" required style="ime-mode:disabled">
									<div style="white-space: nowrap; display: inline;">
										<input id="idCheckOk" class="idCheckOk" type="hidden" value="false">
										<input type="button" class="myButton_id btn btn-warning btn-round btn-sm" value="Check 🕵">
									</div>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">lock_outline</i>
										</span>
									</div>
									<input id="inputPassword" name="password" type="password"
										class="form-control" placeholder="Password" autocomplete="" required>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">favorite</i>
										</span>
									</div>
									<input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" />
									<div style="white-space: nowrap; display: inline;">
										<input id="nnCheckOk" class="nnCheckOk" type="hidden"value="false">
										<input type="button" class="myButton_nn btn btn-warning btn-round btn-sm" value="Check 🕵">
									</div>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">wc</i>
										</span>
									</div>
									<div style="display: flex;justify-content: space-around; width:70%;">
									    <input type="radio" name="sex" id="sexF" value="F" style="position: absolute;left: -9999px;"/>
										<label for="sexF">
										  <img src="/images/logo/woman.png" alt="I'm a girl" width="50px"/>
										</label>
										<input type="radio" name="sex" id="sexM" value="M" style="position: absolute;left: -9999px;"/>
										<label for="sexM">
										  <img src="/images/logo/man.png" alt="I'm a boy" width="50px"/>
										</label>
									</div>
								</div>

								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">location_on</i>
										</span>
									</div>
									<input type="text" class="form-control" id="address" name="address" placeholder="Address">
									<input type="button" onclick="sample5_execDaumPostcode()" class="btn btn-success btn-round btn-sm"
									value="Search 🌏"> <br>
									<div id="map" style="width: 300px; height: 300px; margin-top: 10px; display: none"></div>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">today</i>
										</span>
									</div>
									<input type='date' id='birthday' name='birthday' style="text-align:center;width:80%;" value="yyyy-mm-dd">
								</div>

								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="material-icons">mail</i>
										</span>
									</div>
									<input type="email" class="form-control" name="email" id="email" placeholder="Email">
								</div>
							</div>
							<div class="footer text-center">
								<input type="submit" id="submit" class="btn btn-primary btn-round btn-sm" value="Register In 👏"/>
								<a href="/"><input type="button" class="btn btn-primary btn-round btn-sm" value="Back 👈"></a>
								<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col-md-12 text-center">
      <a href="account/login" class="btn btn-link btn-primary btn-lg">View Login Page</a>
      <a href="account/regist" class="btn btn-link btn-primary btn-lg">View Regist Page</a>
    </div>
    </div>
    <div class="section section-download" id="downloadSection">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-8 mx-auto">
            <h2>Do you love Talk To Talk?</h2>
            <h4>Visit our
            <a href="https://github.com/heejungjung/TalkToTalk" target="_blank" rel="nofollow">Github</a>!
            thanks👍</h4>
          </div>
        </div>
        <div class="sharing-area text-center">
          <div class="row justify-content-center">
            <h3>Thank you for supporting us!</h3>
          </div>
          <a id="facebook" class="btn btn-raised btn-facebook" href="#" rel="nofollow">
            <i class="fa fa-facebook-square"></i>
            Facebook
          </a>
          <a id="instagram" class="btn btn-raised btn-instagram" href="https://www.instagram.com/j.amy_jeong/" rel="nofollow">
            <i class="fa fa-instagram"></i>
            Instagram
          </a>
          <a id="github" href="https://github.com/heejungjung/TalkToTalk" target="_blank" class="btn btn-raised btn-github" rel="nofollow">
            <i class="fa fa-github"></i>
            Github
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Classic Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link">Nice Button</button>
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
	<!--  End Modal -->
	<footer class="footer" data-background-color="black">
		<div class="container">
			<div class="copyright float-right">
				&copy;
				<script> document.write(new Date().getFullYear()) </script>
				, made with <i class="material-icons">favorite</i> by <a
					href="https://github.com/heejungjung/TalkToTalk" target="_blank">Talk To Talk</a> for a better chat.
			</div>
		</div>
	</footer>
</body>
<!-- what people think -->
<script src="/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
		$.ajax({
		    type: "POST",
		    url: "/homegetinfo",
		    data: {
		    	username: document.getElementById('username').innerText,
		    	nickname: document.getElementById('nickname').innerText
		    },
		    success: function (data) {	
				$("#circleimg").attr("src",data.pic);
		    },
			error : function(err) {
				alert("homegetinfo실패");
			}
		})
    });
	 $('.mypage').click(function () {
			$.ajax({
			    type: "GET",
			    url: "/mypaging",
			    data: {
			    	username: document.getElementById('username').innerText,
			    	nickname: document.getElementById('nickname').innerText
			    },
			    success: function (data) {	
			    	location.href='/mypage';
			    }
			})
		});
    $('.carousel').carousel({ interval: 2000 });
    $(".carousel .item").first().addClass("active");
    
	//Get the button:
    TopBtn = document.getElementById("TopBtn");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    	  TopBtn.style.display = "block";
      } else {
    	  TopBtn.style.display = "none";
      }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
    //nav
      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
				$('nav').removeClass('navbar-transparent');
				$('#oncolor').attr("src","/images/logo/on_black.png");
				$('#offcolor').attr("src","/images/logo/off_black.png");
            }

            else {
				$('nav').addClass('navbar-transparent');
				$('#oncolor').attr("src","/images/logo/on.png");
				$('#offcolor').attr("src","/images/logo/off.png");
            }
      })
</script>
</html>