<!DOCTYPE HTML>
<html>
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/mypage.css" />
	</head>
	<body>
		<form id="signform" name="signform" method="post" enctype="multipart/form-data" action="/imgchange">
		    <input type="file" id="file" name="file" style="display:none;" onchange="changeValue(this)">
		    <input type="hidden" name = "target_url">
		</form>
		<!-- Wrapper -->
		<div id="wrapper" style="display: flex;flex-direction: row;justify-content: space-around;">
			<!-- Header -->
			<div style="width:50%;">
				<header id="header">
					<h2><strong><span style="font-size: 3em; font-weight: bold;" th:text="${session.nickname}"></span></strong>
					<br>
					<img id="pic" loading="eager"/>
				</header>
			</div>
			<div style="margin: auto;width: 50%;padding: 10px;width: 50%;">
				<strong><span id='bio' th:text="${session.bio}">사용자</span></strong>
				<button id="msgchange" style="width:15%" class="btp">수정하기</button>
				<hr>
				<table>
					<tr>
						<td>
							<b>지역</b>
						</td>
						<td>
			                <span id='city' th:text="${session.city}"></span>
			                <i class="glyphicon glyphicon-map-marker"></i></cite></small>
						</td>
					</tr>
					<tr>
						<td>
							<b>성별</b>
						</td>
						<td>
							<span id='sex' th:text="${session.sex=='M' ? '남자':'여자'}">사용자</span>
						</td>
					</tr>
					<tr>
						<td>
							<b>생년월일</b>
						</td>
						<td>
							<span id='birthday' th:text="${session.birthday}">사용자</span>
						</td>
					</tr>
					<tr>
						<td>
							<b>이메일</b>
						</td>
						<td>
							<span id='email' th:text="${session.email}">사용자</span>
						</td>
					</tr>
				</table>
				<div style="text-align:center;">
					<h1><span id='username' th:text="${session.id}"></span>님 💖 Talk_To_Talk</h1>
					<p>우리가 함께한지 <span style="font-size: 3em; font-weight: bold;" th:text="${session.days}"></span>일째🙈</h2>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<footer id="footer">
			<a href="/"><h1><strong>T</strong>alk <strong>T</strong>o <strong>T</strong>alk</h1></a>
			<p> 사진을 클릭하면 프로필 사진을 업데이트 하실 수 있습니다!🙈</p><br>
		</footer>
	</body>
	
	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/mypage.js"></script>
	
	<script>
	$.ajax({
		type : "POST",
		url : "/mypagegetpic",
		data: {
	    	username: document.getElementById('username').innerText
	    },
		success : function(data) {
			$("#pic").attr("src",data.pic);
		},
		error : function(err) {
			alert("실패");
		}
	});
	$('#pic').click(function (e) {
	    document.signform.target_url.value = document.getElementById('pic').src;
	    e.preventDefault();
	    $('#file').click();
	});
	function changeValue(obj){
	    document.getElementById('signform').submit();
	}
	$('#msgchange').click(function () {
		var input = prompt('새로운 상태메시지를 입력하세요.');
	    $.ajax({
	        type: "GET",
	        url: "/msgchange",
	        data: {
		    	username: document.getElementById('username').innerText,
	        	message: input
	        },
	        success: function (data) {
				document.getElementById("bio").innerText = data;
			}
		})
	});
	</script>
</html>