<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
	integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
	crossorigin="anonymous">
<link rel="stylesheet" href="/css/zzin.css">

<title>Talk-to-Talk</title>
</head>

<body style="overflow:auto;font-size:13px;">

<div>
<input class="hidden"/>
   	<div id="navi_account_popup"><div class="banner_popup"></div></div>
	
		<br>
		<br>
	<div class="container">
		
		<div class="col-sm">
			<div class="form-field">
				<div><b>방&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp제:</b>
					<input class="popup-button-input" id="roomName" type="text" placeholder="방제를 입력하세요" />
				</div>
			</div>
		</div>
	
		
		<div class="col-sm">
			<div class="form-field">
				
					<div><b>최대인원:</b>
						<select class="popup-button-input" id="maxpp" name="maxpp">
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4" selected="selected">4</option>
							<option value="6">6</option>
							<option value="10">10</option>
						</select>
					</div>
				
			</div>
		</div>

		<br>
		
				<div class="popup-button">
					<form id="popupCreateRoomForm" name="popupCreateRoomForm">
						<div class="form-group">
							<div class="input-group clearfix">
								<button type="submit" class="popup-button-bt" id="popupCreateRoomForm">방 개설</button> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
								<a href="/" onclick="javascript:window.close()"><button class="popup-button-bt" type="submit">나가기</button></a>
							</div>
						</div>
					</form>
				</div>
			
			
	</div>	

</div>	
				
	
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="/js/popup.js"></script>
	
</body>
</html>